<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      Elias Ricardo Vieira
      <small class="d-block mb-3 text-muted">© 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Cursos</h5>
      <ul class="list-unstyled text-small">
        <li><a routerLink="/angular" class="text-muted" href="#">Angular</a></li>
        <li><a class="text-muted" href="#">CSS3</a></li>
        <li><a class="text-muted" href="#">HTML5</a></li>
        <li><a class="text-muted" href="#">Javascript</a></li>
        <li><a class="text-muted" href="#">MySQL</a></li>
        <li><a class="text-muted" href="#">NodeJS</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Sobre</a></li>
        <li><a class="text-muted" href="#">Localização</a></li>
      </ul>
    </div>
  </div>
</footer>
