<div class="container">
  <div class="col-md-3 mb-1">
    <button routerLink="/cadastro" class="btn btn-primary" type="submit">
      <i class="fa fa-plus"></i> Novo Registro
    </button>
  </div>
  <div class="col-md-12">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Gênero</th>
          <th>CPF</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let dado of dados">
          <th>{{dado.id}}</th>
          <td>{{dado.nome}}</td>
          <td>
            <div *ngIf="dado.genero == 'M';then m else f"></div>
            <ng-template #m>Masculino</ng-template>
            <ng-template #f>Feminino</ng-template>
          </td>
          <td>{{dado.cpf}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
