<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <a routerLink="/" class="navbar-brand">
    <i class="fa fa-home"></i>
  </a>
  <button type="button" name="button" class="navbar-toggler" data-toggle="collapse" data-target="#barra">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div id="barra" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Cursos</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Carreiras</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Empresas</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Parceiros</a></li>
    </ul>
    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-search"></i></div>
        </div>
        <input class="form-control" type="search" placeholder="Procurar...">
      </div>
    </form>
    <button routerLink="/cadastro" type="button" name="button" class="btn btn-primary ml-md-2">
      Matricule-se
    </button>
    <button type="button" name="button" class="btn btn-success ml-2"  data-toggle="modal" data-target="#login">
      Entrar
    </button>
  </div>
</nav>

<app-login></app-login>
