<app-card titulo="Principais cursos em desenvolvimento para front-end">
  <div class="row">
    <div class="col-md-3 mb-3">
      <app-card titulo="Angular" img="assets/img/angular.png" >
        <p class="text-left">
          Ainda assim, existem dúvidas a respeito de como o
          desenvolvimento contínuo de distintas formas de atuação
          causa impacto indireto na reavaliação dos métodos utilizados
          na avaliação de resultados.
        </p>
        <div class="center">
          <button routerLink="/angular" class="btn btn-primary" type="button" name="button">Ir para o curso</button>
        </div>
      </app-card>
    </div>
    <div class="col-md-3 mb-3">
      <app-card titulo="CSS3" img="assets/img/css3.png" >
        <p class="text-left">
          Ainda assim, existem dúvidas a respeito de como o
          desenvolvimento contínuo de distintas formas de atuação
          causa impacto indireto na reavaliação dos métodos utilizados
          na avaliação de resultados.
        </p>
        <div class="center">
          <button routerLink="/angular"class="btn btn-primary" type="button" name="button">Ir para o curso</button>
        </div>
      </app-card>
    </div>
    <div class="col-md-3 mb-3">
      <app-card titulo="HTML5" img="assets/img/html5.png" >
        <p class="text-left">
          Ainda assim, existem dúvidas a respeito de como o
          desenvolvimento contínuo de distintas formas de atuação
          causa impacto indireto na reavaliação dos métodos utilizados
          na avaliação de resultados.
        </p>
        <div class="center">
          <button routerLink="/angular"class="btn btn-primary" type="button" name="button">Ir para o curso</button>
        </div>
      </app-card>
    </div>
    <div class="col-md-3 mb-3">
      <app-card titulo="Javascript" img="assets/img/js.png" >
        <p class="text-left">
          Ainda assim, existem dúvidas a respeito de como o
          desenvolvimento contínuo de distintas formas de atuação
          causa impacto indireto na reavaliação dos métodos utilizados
          na avaliação de resultados.
        </p>
        <div class="center">
          <button routerLink="/angular"class="btn btn-primary" type="button" name="button">Ir para o curso</button>
        </div>
      </app-card>
    </div>
    <div class="col-md-3 mb-3">
      <app-card titulo="MySQL" img="assets/img/mysql.png" >
        <p class="text-left">
          Ainda assim, existem dúvidas a respeito de como o
          desenvolvimento contínuo de distintas formas de atuação
          causa impacto indireto na reavaliação dos métodos utilizados
          na avaliação de resultados.
        </p>
        <div class="center">
          <button routerLink="/angular"class="btn btn-primary" type="button" name="button">Ir para o curso</button>
        </div>
      </app-card>
    </div>
    <div class="col-md-3 mb-3">
      <app-card titulo="NodeJS" img="assets/img/node.png" >
        <p class="text-left">
          Ainda assim, existem dúvidas a respeito de como o
          desenvolvimento contínuo de distintas formas de atuação
          causa impacto indireto na reavaliação dos métodos utilizados
          na avaliação de resultados.
        </p>
        <div class="center">
          <button routerLink="/angular"class="btn btn-primary" type="button" name="button">Ir para o curso</button>
        </div>
      </app-card>
    </div>
  </div>
</app-card>
